.App {
  text-align: center;
}

.black-nav {
  display: flex;
  align-items : center;
  justify-content : start;
  background-color: black;
  width: 100%;
  color: white;
  padding-left:20px ;
}

div { 
  box-sizing: border-box;
}

.list{
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.modal{
  background-color: lightgray;
  padding: 15px;
  text-align: left;
}

.newPostForm{
  background-color: lightgrey;
  padding: 5px 25px 15px 30px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid black;
}