#trafficMetroline {
    display: flex;
    flex-direction: column;
    width: calc(max(100%,33vw)); /* 기본 너비 설정 */
    height: 360px; /* 기본 높이 설정 */
    max-width: 100%;
    position: relative;
}

#trafficMetroline #trafficMatroline_BtnContainer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#trafficMetroline #trafficMatroline_BtnContainer button {
    flex-grow: 1;
    padding: 10px;
}

#trafficMetroline #traffic_gallery_wrap {
    position: absolute;
    overflow: hidden;
    width: 100%;
}

#trafficMetroline #traffic_slide_gallery {
    display: flex;
    transition: margin-left 0.3s;
}

#trafficMetroline .traffic_slide_gallery_Image {
    
    /* display: inline-block; */
    width: 600px; /* 이미지 너비 고정 */
    height: 350px; /* 이미지 높이 고정 */
}

#trafficMetroline #trafficMatroline_BtnContainer * {
    font-weight: bold;
    font-size: 25px;
}

#trafficMetroline #traffic_playToggle.BigChar {
    font-size: 35px;
    overflow: hidden;
    text-align: center;
    line-height: 0;
}
