/* HTML 기본 테그 관련된 것들 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

#AICC1 a {
    text-decoration: none;
    color: #2b2b2b;
}
#AICC1 li { list-style: none; }

#AICC1 body {
    margin: 0;
    width: 100%;
    background: rgb(227, 226, 226);
    font-family: 'Noto Sans KR', sans-serif;
}

#AICC1 #BGM{
    position: fixed;
    bottom: 30px;
    right: 120px;
    cursor: pointer;
    z-index: 2;
    border-radius: 50px;
    border: 1px solid #715253;
}